/001_file_extension_and_formats.md
/002_syntax.bsl
/1c_language
algorithms/010.bsl
algorithms/011.bsl
algorithms/012.bsl
algorithms/013.bsl
algorithms/014.bsl
algorithms/015.bsl
algorithms/016.bsl
algorithms/017.bsl
syntax/007_requests.bsl
syntax/008_array.bsl
syntax/variable.bsl
